*.sublime-project
*.sublime-workspace
*.pyc
*.log
*.DS_Store
*.egg-info
*.pkl
*.pdf
*.png
*.root
*.npy
*.npz
*.json
*.yaml
*.out
__pycache__
dist
build
static
docs/_build
tmp
store
software
data
.data
.law
.setups
.python-version
